<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/style-register.css">    
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">

            <a href="/"><img src="/images/logo-mercado-liebre.svg" class="logo"></a>

            <div class="searching-bar">
                <input type="text" name="producto"><i class="fas fa-search"></i>
            </div>

            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <a href="" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="#">Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
                <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

    </header>
        <div class="div-form">
         <form action="" method="post" class="create-form">
            <div class="control-form"> 
                <label for="nombre">Nombre</label>
                <input type="text" class="control">
            </div>
            <div class="control-form">
                <label for="apellido">Apellido</label>
                <input type="text" class="control">
            </div>
            <div  class="control-form">
                <label for="FechaDeNac">Fecha de nacimiento</label>
                <input type="date" name="fecha" class="control">
            </div>
            <div  class="control-form">
                <label for="domicilio">Domicilio</label>
                <input type="text" class="control">
            </div>
            <div  class="control-form">
                <label for="perfil">Perfil del usuario</label>
                <input type="radio" name= "perfil" value="comprar" class="control"> compra
                <input type="radio" name= "perfil" value="vender" class="control"> vende
            </div>
            <div  class="control-form">
                <label for="interes">Categoria de interes</label>
                    <input type="checkbox" class="control"> Electro
                    <input type="checkbox" class="control"> Moda
                    <input type="checkbox" class="control"> Hogar
                    <input type="checkbox" class="control"> Jugeteria
                    <input type="checkbox" class="control"> Vida Sana

            </div>
            <div  class="control-form">
                <label for="imagen">Foto de usuario</label>
                <input type="file" name="imagen" id="" >
            </div>
            <div  class="control-form">
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="" class="control">
            </div>
            <div  class="control-form">
                <label for="password2">Confirma Contraseña</label>
                <input type="password" name="password2" id="" class="control">
            </div>
            <div  class="control-form">
                <input type="submit" value="Crear Cuenta">
            </div>
            <div  class="control-form">
                <button type="reset">Borrar</button>
            </div>
         </form>
      </div>
    
    <footer>
        <div class="footer-element">
          <i class="fas fa-credit-card"></i>
          <h4>Pagá con tarjeta o en efectivo</h4>
          <p class ="textoFooter"> Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
          puntos de pago. ¡Y siempre es seguro!</p>
       </div>
       <div class="footer-element">
          <i class="fas fa-gift"></i>  
          <h4> Envío gratis desde $ 2.500</h4>
          <p class ="textoFooter">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
          productos. Es un beneficio de Mercado Puntos.</p>
       </div>
       <div class="footer-element">
          <i class="fas fa-user-shield"></i>
          <h4>Seguridad, de principio a fin</h4>
          <p class ="textoFooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
          porque estás siempre protegid@.</p>
       </div>
       <div class="footer-element">
          <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
       </div>
 
    </footer>


</body>
</html>