/* font-family: 'Roboto', sans-serif; */

.precio {
        font-size: 18px;
    }

.descuentos .descripciones{
        font-size: 16px;
    }

.textos{
        font-size: 12px;
    }

h3 {
        font-size: 24px;
}