/* font-family: 'Roboto', sans-serif; */
*{box-sizing: border-box;}
.precio {
        font-size: 18px;
    }

.descuentos .descripciones{
        font-size: 16px;
    }

.textos{
        font-size: 12px;
    }

h3 {
        font-size: 24px;
}
#Banner{
    display: block;
}

body {
    font-family: Roboto;
    background-color: yellow;
    }
     
.burger-menu{
    padding: 5px;
    border-radius: 4px;
    width: 30px;
    text-align: center;
    color: white;
    background-color: blue;
}

footer{
    text-align: center;
    
}
footer.textos{
    width: 10px;
}



img{
    width: 30%;
    height: 30%;
}